/*
ul{
    list-style-type: none;    
    float: right;
    background-color: rgb(170, 41, 159);
    width: 100%;

    
   
}

li{
    float:right;
}

li a{
    display: block;
    padding: 10px;
    text-align: center;
    color: rgb(92, 222, 245);  
    width: %;  
}
tittle{
    color:  rgb(92, 222, 245);;
}

article{
    color: cornsilk;
}*/


body{
    width:100%;
    height:100%;
    background: linear-gradient(rgba(16,29,44,.60),  rgba(16,29,44,.60)),
                url("../Images/open_building.jpg") center no-repeat ;
}


img{
    width:100%;
    margin-bottom: 20px;
    
}