<!DOCTYPE html>
<html>
    <head>
        <tittle> MYHOTEL</tittle>
        <meta charset="UTF-8">
        <meta name="keywords" content="Hotel, booking,reservations">
        <meta name="description" content="Hotel Booking">
        <meta name="viewport" content="width=device-width" initial-scale=1.0>
        <link href="..\Static\CSS\main.css" rel="stylesheet">
    </head>
    <body>
        <section>
            <nav>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Book</a></li>
                    <li><a href="">Rooms</a></li>
                    <li><a href="">Home</a></li>
                </ul>
            </nav>
        </section>
       
       <section>
        <img src="..\Static\Images\three-blue-dolphins-statue-front-of-water-near-building-1458457.jpg" name="Welcome to amazing hospitality" alt="">
        <img src="..\Static\Images\view-of-tourist-resort-338504.jpg" name="exuistie views" alt="">
       </section>

       <section>
           <article>
               MYHOTEL is located in the coastal region of Kenya, that is Mombasa County.
           </article>
       </section>
      
    </body>
</html>